body {
	background: #e4e4e4;
	padding-top: 70px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	margin-left: -10px;
	margin-right: -10px;
}

.navbar-default {
	border: none;
	background: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default
.navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: #e4e4e4;
}

div#header {
	background: #ffffff;
}

div#header h1 {
	display: inline-block;
	margin: 0;
}

div.link {
	position: relative;
	margin-bottom: 20px;
}

div.link * {
	padding: 0;
	margin: 0;
}

div.link a {
	display: block;
	overflow: auto;
	background: #ffffff;
	height: 240px;
}

div.link p.title {
	font-size: 16px;
	overflow: hidden;
	height: 48px;
	padding: 4px 6px;
}

div.link span.thumbnail {
	width: 100%;
	height: 160px;
	background-size: 100% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	border-radius: 0;
	border-left: none;
	border-right: none;
	float: left;
	clear: both;
	margin: 4px 0;
}

div.link span.thumbnail.screenshot {
	background-position: 0 0;
}

div.link p.excerpt {
	padding: 4px 6px;
	max-height: 160px;
}

div.link p.domain {
	float: left;
	padding: 0 0 4px 6px;
}

div.link time {
	float: right;
	padding: 0 6px 4px 0;
}
