/*
 *  Active colour: #00BD83 / rgba(0, 189, 131, .6)
 *  Button border colour: #00B076
 *  Button hover colour: #00A86A
 *  Buttoon hover border colour: #009047
 */

body {
	background: #e4e4e4;
	padding-top: 70px;
}

a {
	color: #00BD83;
}

a:hover {
	color: #00BD83;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	margin-left: -10px;
	margin-right: -10px;
}

.btn-primary {
	background-color: #00BD83;
	border-color: #00B076;
}

.btn-primary:hover {
	background-color: #00A86A;
	border-color: #009047;
}

.btn-primary[disabled] {
	background-color: #00BD83;
	border-color: #00B076;
}

.btn-primary:hover[disabled] {
	background-color: #00A86A;
	border-color: #009047;
}

.form-control:focus {
	border-color: #00BD83;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 189, 131, .6);
}

.navbar-default {
	border: none;
	background: #ffffff;
	box-shadow: 0px 0px 2px 1px #999999;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #00BD83;
}

.navbar-default .navbar-nav>.active>a, .navbar-default
.navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: #00BD83;
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #00BD83;
}

#navbar-collapse ul li.divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.modal-footer {
	margin-top: 0;
}

.navbar-brand-img {
	padding: 5px 20px 5px 5px;
	float: left;
}

.navbar-brand-img img {
	width: 40px;
	height: 40px;
}

.navbar-brand span {
	margin-top: 5px;
}

div#search {
	width: 225px;
	margin-left: 4px;
	margin-right: -12px;
}

button#facebook-login {
	margin-left: 4px;
	margin-right: 4px; 
	margin-top: 4px;
}

button#add-link {
	margin-left: 4px;
	margin-right: 4px;
}

div#viewmode {
	margin-left: 4px;
	margin-right: 4px;
}

div.link {
	position: relative;
	margin-bottom: 20px;
	display: block;
	overflow: auto;
	background: #ffffff;
	height: 240px;
	border: 1px solid #cccccc;
}

div.link * {
	padding: 0;
	margin: 0;
}

div.link a {
	cursor: pointer;
	color: #000000;
}

div.link a:hover {
	color: #00BD83;
	text-decoration: none;
}

body.compact div.link, body.page-1 div.link {
	height: 78px;
}

div.link p.title {
	font-size: 16px;
	overflow: hidden;
	height: 48px;
	padding: 4px 6px;
}

div.link span.thumbnail {
	width: 100%;
	height: 160px;
	background-size: 100% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	border-radius: 0;
	border-left: none;
	border-right: none;
	float: left;
	clear: both;
	margin: 0;
}

body.compact div.link span.thumbnail {
	display: none;
}

div.link span.thumbnail.screenshot {
	background-position: 0 0;
}

div.link div.meta {
	width: 100%;
	overflow: auto;
	float: left;
	padding: 4px 6px;
}

div.link i.indicator {
	float: left;
	padding: 3px 4px 4px 0;
	color: #999999;
	cursor: default;
}

div.link i.unread-indicator {
	font-size: 11px;
	padding-top: 5px;
	display: none;
}

div.link i.starred-indicator {
	display: none;
}

div.link.unread i.indicator {
	color: #107BF7;
}

div.link.unread i.unread-indicator {
	display: inline;
}

div.link.starred i.indicator {
	color: #FD9945;
}

div.link.starred i.starred-indicator {
	display: inline;
}

div.link p.domain {
	float: left;
	color: #999999;
}

div.link time {
	float: right;
	color: #999999;
}

div.link:hover time {
	display: none;
}

div.link div.buttons {
	float: right;
	display: none;
}

div.link:hover div.buttons {
	display: block;
}

div.link.unread:hover i.star-button {
	display: none;
}

div.link div.buttons i.button {
	margin-right: 4px;
	margin-left: 4px;
	color: #999999;
}

div.link div.buttons i.button:hover {
	color: #00BD83;
}

div#search-mobile {
	overflow: auto;
	margin: 0 15px 20px;
}

input#search-bar-mobile {
	float: left;
	width: 90%;
}

button#search-button-mobile {
	float: right;
	width: 10%;
}

input#add-modal-url-field {
	margin-bottom: 20px;
}

div#add-modal-error-message {
	display: none;
}

a#add-modal-error-popover {
	cursor: pointer;
}

div#embed-modal-body {
	text-align: center;
}

div#embed-modal-body img {
	max-width: 100%;
}

div#embed-modal-body div.video-wrapper {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

div#embed-modal-body div.video-wrapper iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.stats-item {
	position: relative;
	margin-bottom: 20px;
	display: block;
	overflow: auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	text-align: center;
	padding: 8px;
}

div.stats-item p.name {
	margin: 0px;
}

div.stats-item p.number {
	font-size: 24px;
	margin: 0px;
}

div.chart-wrapper {
	background: #ffffff;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
	text-align: center;
}

canvas#stats-chart {
	position: relative;
	display: block;
	overflow: auto;
	padding: 8px;
	height: 174px;
	width: 100%;
}

ul.line-legend {
	list-style-type: none;
	margin: -8px 0 8px 0;
	padding: 0;
}

ul.line-legend li {
	display: inline;
	margin: 0 16px;
}

ul.line-legend span {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 8px;
}

div.footer {
	text-align: center;
	color: #999999;
}

div.footer a {
	color: #999999;
	text-decoration: underline;
	cursor: pointer;
}

div.footer div.popover {
	color: #000000;
}

div.footer div.popover div.popover-content {

}

div.footer div.popover ul {
	margin-left: 12px;
	margin-bottom: 0;
	padding: 0;
}

div.tooltip {
	/*margin-top: -8px !important;*/
	width: 100px;
}

div.tooltip div.tooltip-arrow {
	border-bottom-color: rgba(0, 0, 0, 0.75) !important;
}

div.tooltip div.tooltip-inner {
	background-color: rgba(0, 0, 0, 0.75);
}

div#facebook-login-wrapper {
	height: 34px;
	margin-top: 4px;
}

div#facebook-login-wrapper div.popover div.popover-content {
	padding: 0;
}

ul#conversation-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
}

ul#conversation-list li {
	padding: 10px 8px;
	cursor: pointer;
}

ul#conversation-list li:not(:first-child) {
	border-top: 1px solid #cccccc;
}

ul#conversation-list li:hover {
	color: #00BD83;
}
