{% extends "layout.html" %}
{% block content %}
	<form action="{{ url_for('add') }}" method="POST" class="add-item">
		{% if previous_title %}
		<input id="titlefield" type="text" name="title" value="{{ previous_title }}" class="title" onfocus="if(this.value=='Title'){ this.value=''; this.style.color='black';}" onblur="if(this.value=='') { this.value='Title'; this.style.color='#9F9F9F'; }" autocomplete="off"/><br/>
		{% else %}
		<input id="titlefield" type="text" name="title" value="Title" class="title" onfocus="if(this.value=='Title'){ this.value=''; this.style.color='black';}" onblur="if(this.value=='') { this.value='Title'; this.style.color='#9F9F9F'; }" autocomplete="off"/><br/>
		{% endif %}

		<a id="autotitle" onclick="getTitle();">
			<i class="fa fa-search"></i>
		</a>

		{% if previous_url %}
		<input id='urlfield' type="text" name="url" value="{{ previous_url }}" class="url" onfocus="if(this.value=='URL'){ this.value=''; this.style.color='black';}" onblur="if(this.value=='') { this.value='URL'; this.style.color='#9F9F9F'; }" autocomplete="off"/><br/>
		{% else %}
		<input id='urlfield' type="text" name="url" value="URL" class="url" onfocus="if(this.value=='URL'){ this.value=''; this.style.color='black';}" onblur="if(this.value=='') { this.value='URL'; this.style.color='#9F9F9F'; }" autocomplete="off"/><br/>
		{% endif %}

		<!-- Type dropdown, not in use at the moment.
			<select name="type" class="type">
				<option value="0">General</option>
				<option value="1">Image</option>
				<option value="2">Video</option>
			</select><br/>
		-->

		<input type="submit" value="Add" class="submit" />
	</form>
{% endblock %}
