{% extends "layout.html" %}
{% block content %}
	<input type="text" name="search" id="search" value="Search" onfocus="searchBarFocus(this);" onblur="searchBarBlur(this);" onkeydown="searchBarKeyDown(this, event);" autocomplete="off" />
	<ul id="items">
		{% for item in items %}
		<li id="item-{{ item.id }}" class="item opacity100" onmouseover='showButtons({{ item.id }}, true);' onmouseout='showButtons({{ item.id }}, false);'>
			<a class="link" href="{{ item.url }}" title="#{{ item.id }} - {{ item.url }}" target="_blank" name="{{ positions[item.id] }}">
				<h2 class="title">{{ item.title }}</h2>
				<div class="meta">
					<img class="icon" src="http://google.com/s2/favicons?domain={{ domains[item.id] }}" /><p class="info">{{ domains[item.id] }} – {{ times[item.id] }}</p>
				</div>
			</a>
			<div class="buttons" id="buttons-{{ item.id }}">
				<a class="archive-button" id="archive-{{ item.id }}" href="/unarchive/{{ item.id }}?scrollto={{ positions[item.id] }}"><i class="fa fa-undo fa-fw "></i></a>
			</div>
		</li>
		{% else %}
		<li class="noitems">{{ emptymessage }}</li>
		{% endfor %}
	</ul>
{% endblock %}
