{% extends "layout.html" %}
{% block content %}
	<input type="text" name="search" id="search" value="Search" onfocus="if(this.value=='Search'){ this.value=''; this.style.color='black';}" onblur="if(this.value=='') { this.value='Search'; this.style.color='#9F9F9F'; reset(); }" onkeydown="if (event.keyCode == 13) { search(this.value); } else if (event.keyCode == 27) { this.blur(); this.value='Search'; this.style.color='#9F9F9F'; reset(); }" autocomplete="off" />
	<ul id="items">
		{% for item in items %}
		<a href="{{ item.url }}" title="{{ item.url }}" target="_blank" onmouseover='hoverID = {{ item.id }}; hoverTitle = "{{ item.title }}"' onmouseout='hoverID = -1; hoverTitle = "";'>
			<li id="item-{{ item.id }}" class="item opacity{{ opacities[item.id] }}">
				<h2 class="title">{{ item.title }}</h2>
				<div class="meta">
					<img class="icon" src="http://google.com/s2/favicons?domain={{ domains[item.id] }}" /><p class="info">{{ domains[item.id] }} – {{ times[item.id] }}</p>
				</div>
			</li>
		</a>
		{% else %}
		<li class="noitems">No links yet.</li>
		{% endfor %}
	</ul>

	<script type="text/javascript">
		function search(searchterm) {
			var items = document.getElementsByClassName("title");
			for (var i = 0; i < items.length; i++) {
				var element = items[i];
				if (element.innerHTML.toLowerCase().indexOf(searchterm.toLowerCase()) == -1) {
					element.parentNode.parentNode.style.display = "none";
				} else {
					element.parentNode.parentNode.style.display = "initial";
				}
			}
		}

		function reset() {
			var items = document.getElementsByClassName("title");
			for (var i = 0; i < items.length; i++) {
				var element = items[i];
				element.parentNode.parentNode.style.display = "initial";
			}
		}

		var hoverID = -1;
		var hoverTitle = "";

		function showArchive() {
			if (hoverID != -1) {
				var yes = confirm("Would you like to archive this item?\n" + hoverTitle);
				if (yes) {
					window.location.href = "/archive/" + hoverID;
				}
			}
		}
	</script>
{% endblock %}
