<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css"/>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<meta name="viewport" content="width=device-width" />
	</head>

	<body>
		<div class="header">
			<a href="/">
				<h1>{{ title }}</h1>
			</a>
		</div>
		<div class="navigation">
				<ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('view_archive') }}">Archive</a></li>
					<li><a href="{{ url_for('add') }}">Add Link</a></li>
				</ul>
			</div><!-- #navigation -->

		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul id="flashes">
				{% for category, message in messages %}
					<li class="{{ category }}">{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}

		<div class="content">
			{% block content %}{% endblock %}
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='linkbucket.js') }}"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	</body>
</html>
