{% extends "layout1.html" %}
{% block content %}
	<div id="stats">
		<div class="section" id="about">
			<h2 class="heading">About Link Bucket</h2>
			<div class="column left">
				<ul id="stat-names">
					<li class="name">Current Version</li>
					<li class="name">Last Update</li>
					<li class="name">Last Commit</li>
				</ul>
			</div>

			<div class="column right">
			<ul id="stat-details">
					<li class="detail">{{ options['version'] }}</li>
					<li class="detail" title="">{{ options['date'] }}</li>
					<li class="detail"><a href="{{ options['commit'].url }}" target="_blank">{{ options['commit'].message }}</a></li>
				</ul>
			</div>
		</div>

		<div class="section" id="statistics">
			<h2 class="heading">Statistics</h2>
			<div class="column left">
				<ul id="stat-names">
					<li class="name">Links Added</li>
					<li class="name">Links Clicked</li>
					<li class="name">Links Archived</li>
					<li class="name">Links Unarchived</li>
					<li class="name">Titles Edited</li>
					<li class="name">Searches Performed</li>
				</ul>
			</div>

			<div class="column right">
			<ul id="stat-details">
					<li class="detail">{{ options['stats'].links_created }}</li>
					<li class="detail">{{ options['stats'].links_clicked }}</li>
					<li class="detail">{{ options['stats'].links_archived }}</li>
					<li class="detail">{{ options['stats'].links_unarchived }}</li>
					<li class="detail">{{ options['stats'].links_edited }}</li>
					<li class="detail">{{ options['stats'].searches_performed }}</li>
				</ul>
			</div>
		</div>

	</div>
{% endblock %}