{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div id="added-chart" class="chart stats-item"></div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<div id="clicked-chart" class="chart stats-item"></div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<div id="pageviews-chart" class="chart stats-item"></div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Added</p>
				<p class="number">{{ stats['total_added'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Clicked</p>
				<p class="number">{{ stats['total_clicked'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Pageviews</p>
				<p class="number">{{ stats['total_pageviews'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Edited</p>
				<p class="number">{{ stats['total_edited'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Deleted</p>
				<p class="number">{{ stats['total_deleted'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Starred</p>
				<p class="number">{{ stats['total_starred'] | thousands_separators }}</p>
			</div>
		</div>

		{% if options['releases'] %}
		{% for release in options['releases'] %}
		{% set index = loop.index %}
		<div class="col-xs-12">
			<div id="release-{{ index }}" class="stats-version-number {% if index > 1 %}faded{% endif %}">
				<p>
					<a href="{{ release.url }}" class="stats-release-link">Linkbucket {{ release.tag_name }}</a>
					– {{ release.date | timesince_long }}
				</p>
			</div>
		</div>

		{% for line in release.body.split('\n') %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="changelog-item stats-item {% if index > 1 %}faded{% endif %}">
				<p>{{ line.replace('- ', '') }}</p>
			</div>
		</div>
		{% endfor %}
		{% endfor %}
		{% endif %}
	</div>
</div>

{% endblock %}
