{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="chart-wrapper" id="chart-wrapper-1">
				<canvas class="stats-chart" id="stats-chart-1" height="150"></canvas>
			</div>
			<div id="legend-1">

			</div>
		</div>
		<div class="col-xs-12">
			<div class="chart-wrapper" id="chart-wrapper-2">
				<canvas class="stats-chart" id="stats-chart-2" height="150"></canvas>
			</div>
			<div id="legend-2">

			</div>
		</div>
		<div class="col-xs-12">
			<div class="chart-wrapper" id="chart-wrapper-3">
				<canvas class="stats-chart" id="stats-chart-3" height="150"></canvas>
			</div>
			<div id="legend-3">

			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Added</p>
				<p class="number">{{ stats['total_added'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Clicked</p>
				<p class="number">{{ stats['total_clicked'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Archived</p>
				<p class="number">{{ stats['total_archived'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Edited</p>
				<p class="number">{{ stats['total_edited'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Deleted</p>
				<p class="number">{{ stats['total_deleted'] | thousands_separators }}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="stats-item">
				<p class="name">Starred</p>
				<p class="number">{{ stats['total_starred'] | thousands_separators }}</p>
			</div>
		</div>

		{% for release in options['releases'] %}
		{% set index = loop.index %}
		<div class="col-xs-12">
			<div id="release-{{ index }}" class="stats-version-number {% if index > 1 %}faded{% endif %}">
				<p>
					<a href="{{ release.url }}" class="stats-release-link">Linkbucket {{ release.tag_name }}</a>
					– {{ release.date | timesince_long }}
				</p>
			</div>
		</div>

		{% for line in release.body.split('\n') %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="changelog-item stats-item {% if index > 1 %}faded{% endif %}">
				<p>{{ line.replace('- ', '') }}</p>
			</div>
		</div>
		{% endfor %}
		{% endfor %}
	</div>
</div>

{% endblock %}
